svg {
  width: 100vw;
  height: 100vh;
}
.st0 {
  display: none;
}
.yellow {
  fill: #fff761;
}
.st1 {
  fill: none;
}
.st2 {
  fill: #6edcff;
}
.st3 {
  fill: #ff1d25;
}
.st4 {
  fill: #fff846;
}
.st5 {
  display: inline;
  fill: #ffffff;
}

.video {
  position: absolute;
  width: 58.3vw;
  height: 32.1vw;
  overflow: hidden;
}

.video video {
  width: 106%;
  margin-left: -4%;
}

.vid1 {
  top: 8.4vw;
  left: 6.1vw;
  background: green;
}
.vid2 {
  top: 53.8vw;
  left: 20.7vw;
  background: red;
}
.vid3 {
  top: 97.8vw;
  left: 35.2vw;
  background: blue;
}

.time-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.time-list-container {
  position: absolute;
  left: 10vw;
}

.time-list li {
  margin-right: 4vw;
  font-size: 5vw;
  width: 9vw;
  text-align: right;
}

#jN {
  top: 23vw;
}

#jS {
  top: 37vw;
}

#b52 {
  top: 71vw;
}

#b38 {
  top: 105vw;
}

.clock > * {
  position: absolute;
  color: black;
}
.min-label {
  font-size: 3vw;
}
.time {
  font-family: 'Cheesy Tots';
  color: black;
  font-size: 14vw;
  bottom: 20.5vw;
  width: 18vw;
}

.hour {
  left: 8vw;
  text-align: right;
}

.min {
  left: 29.5vw;
}

.sig {
  bottom: 26.5vw;
  left: 47vw;
  font-size: 7vw;
}

.date {
  bottom: 23.5vw;
  left: 47vw;
  font-size: 2.8vw;
  text-transform: uppercase;
}

.dims {
  position: absolute;
  top: 100px;
  right: 100px;
  color: red;
  font-size: 50px;
}
.weather {
  color: black;
}
.weather > * {
  position: absolute;
  color: black;
}
.temp {
  font-size: 9vw;
  font-family: 'Cheesy Tots';
  bottom: 10.5vw;
  left: 13.2vw;
}
.description {
  bottom: 8.2vw;
  left: 12.3vw;
  text-transform: uppercase;
  width: 12vw;
  text-align: center;
  font-size: 1.2vw;
}
