@font-face {
  font-family: 'Arial Narrow Bold';
  src: url('/Arial-Narrow-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Canela Light';
  src: url('/Canela-Light.woff') format('woff');
}

@font-face {
  font-family: 'Cheesy Tots';
  src: url('/CheesyTots-Regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Arial Narrow Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
